<!DOCTYPE HTML>
<html>
<head>
<title>HFC NMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/stylesheets/font-awesome.css" rel="stylesheet"> 
<link rel="stylesheet" href="/stylesheets/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="/javascripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
  	var webSocket;    
    var initWebSocket = function() {
        if (window.WebSocket) {
        	webSocket = new WebSocket('ws://localhost:8080/hfcnms/websocketservice');
        	webSocket.onmessage = function(event) {
        		onMessage(event);
            };
            webSocket.onopen = function(event) {
            	onOpen(event);
            };
            webSocket.onclose = function(event) {
                webSocket.close();
            };
            webSocket.onerror = function(event) {
            	onError(event);
            };
        }else{
            alert('This browser does not supports WebSocket');
        }
    }
 
    function onMessage(event) {
      document.getElementById('messages').innerHTML
        += '<br />' + event.data;
    }
 
    function onOpen(event) {
      document.getElementById('messages').innerHTML
        = 'Connection established';
    }
 
    function onError(event) {
    	document.getElementById('messages').innerHTML = event.data;
    }
    
    var send = function() {
    	webSocket.send('hello');
    };
 
    function start() {
    	if (webSocket.readyState !== 1) {
    		webSocket.close();
            initWebSocket();
            setTimeout(function() {
            	send();
            }, 250);
        } else {
        	send();
        };
      return false;
    }
    
    window.onload = function() {
        initWebSocket();
    }
    
    window.onbeforeunload  = function() {    	
    	webSocket.close();
    }
</script>
</head> 
<body>
   <div class="page-container">
	   <!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
			<!-- header-starts -->
				<div class="header-section">
					<!--menu-right-->
					<div class="top_menu">
						<div class="top_nav">
							<ul class="navigation">
								<li>
									<img src="/images/1.jpg"></img>
									<p>aaaxsdf</p>
								</li>
								<li>
									<img src="/images/in4.jpg"></img>
									<p>aaaxsdf</p>
								</li>
								<li>
									<img src="/images/in5.jpg"></img>
									<p>aaaxsdf</p>
								</li>
								<li>
									<img src="/images/in6.jpg"></img>
									<p>aaaxsdf</p>
								</li>
							</ul>
						</div>
						<!--/profile_details-->
						<div class="users_details_left">
							<ul>
								<li>
									<img src="/images/1.jpg"></img>
									<span>登录名</span>
								</li>
								<li style="padding-top:33px"><a class="tooltips" href="index.html"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>	
						<!--//profile_details-->
					</div>
					<!--//menu-right-->
						<div class="clearfix"></div>
				</div>
						<!-- //header-ends -->
				<div class="outter-wp">
					<div class="candile"> 

							
					</div>					
				<!--footer section end-->
				</div>
				<footer>
				   <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.genban.org/">html5模板网</a></p>
				</footer>
			</div>
					<!--//content-inner-->
				<!--/sidebar-menu-->
			<div class="sidebar-menu">
				<header class="logo">
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>PREVAIL</h1></span> 
						<!--<img id="logo" src="" alt="Logo"/>--> 
					</a> 
				</header>
				<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
	 
			</div>
			<div class="clearfix"></div>		
		</div>
		<script>
			var toggle = true;
						
			$(".sidebar-icon").click(function() {                
			  if (toggle)
			  {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({"position":"absolute"});
			  }
			  else
			  {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function() {
				  $("#menu span").css({"position":"relative"});
				}, 400);
			  }
							
				toggle = !toggle;
			});
			
			$(".candile").load("/home");
		</script>

	</div>
<!-- Bootstrap Core JavaScript -->
   <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>