<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript">		
		$(".trapaddr").dblclick(function(){
			if(sessionStorage.authlevel == 3){
	  			return;
	  		}
			var domstr = $(this).data("paramname");
			var rownum = $(this).data("rownum");
			$( "#dialog-form" ).dialog({
        	      autoOpen: false,
        	      height: 240,
        	      width: 300,
        	      modal: true,
        	      buttons: {
        	    	  Ok: function() {	
        	    		  if(ipvalidate($("#set_value").val())){
        	    			  var node = __globalobj__._realDevice.getFirstChild();
            	    		  var datastring = '{"cmd":"hfcvalueset","target":"setTrapHost","ip":"' + __globalobj__._realDevice.key +'","domstr":"'+ domstr +'","isRow":"true","rowNum":"'+ rownum+'","value":"'+ $("#set_value").val()+'"}';
            	    		  __globalobj__._send(datastring);
            	              $( this ).dialog( "close" );
        	    		  }else{
        	    			  $("#set_value").addClass( "ui-state-error-custom" )
        	    		  }        	    		  
        	            }
        	      },
        	      close: function() {
	        	    	$("#set_value").removeClass("ui-state-error-custom");
	        	  }
    	    });
            $("#set_value").val($(this)[0].textContent);
            updateTips($.i18n.prop('message_devnewtrap'));
            $("#dialog-form").dialog("open");
		});
		
		$(".hfcunit").dblclick(function(){
			if(sessionStorage.authlevel == 3){
	  			return;
	  		}
			var domstr = $(this)[0].id;
			$( "#dialog-form" ).dialog({
        	      autoOpen: false,
        	      height: 240,
        	      width: 300,
        	      modal: true,
        	      buttons: {
        	    	  Ok: function() {
        	    		  if(checkInt($("#set_value").val())){
        	    			  var node = __globalobj__._realDevice.getFirstChild();
            	    		  var datastring = '{"cmd":"hfcvalueset","target":"setVars","ip":"' + __globalobj__._realDevice.key+'","isRow":"false","domstr":"'+ domstr +'","value":"'+ $("#set_value").val()+'"}';
            	    		  __globalobj__._send(datastring);
            	              $( this ).dialog( "close" );
        	    		  }else{
        	    			  $("#set_value").addClass( "ui-state-error-custom" )
        	    		  }
        	    		  
        	            }
        	      },
        	      close: function() {
	        	    	$("#set_value").removeClass("ui-state-error-custom");
	        	  }
    	    });
            $("#set_value").val($(this).val().replace(/[^\d.]/g,''));
           updateTips($.i18n.prop('message_devnewval'));

            $("#dialog-form").dialog("open");
		}); 
		
		$(".tbl_hfcunit").dblclick(function(){
			if(sessionStorage.authlevel == 3){
	  			return;
	  		}
			var domstr = $(this).data("paramname");			
			var rownum = $(this).data("rownum");
			$( "#dialog-form" ).dialog({
        	      autoOpen: false,
        	      height: 240,
        	      width: 300,
        	      modal: true,
        	      buttons: {
        	    	  Ok: function() {        	    		  
        	    		  if(checkInt($("#set_value").val())){
        	    			  var node = __globalobj__._realDevice.getFirstChild();
            	    		  var datastring = '{"cmd":"hfcvalueset","target":"setVars","ip":"' + __globalobj__._realDevice.key + '","rowNum":"'+ rownum 
            	    			  +'","isRow":"true","domstr":"'+ domstr +'","value":"'+ $("#set_value").val()+'"}';
            	    		  __globalobj__._send(datastring);
            	              $( this ).dialog( "close" );
        	    		  }else{
        	    			  $("#set_value").addClass( "ui-state-error-custom" )
        	    		  }
        	    		  
        	            }
        	      },
        	      close: function() {
	        	    	$("#set_value").removeClass("ui-state-error-custom");
	        	  }
    	    });
            $("#set_value").val($(this)[0].textContent.replace(/[^\d.]/g,''));
           // updateTips($.i18n.prop('message_devnewval'));
		   		   var comvaluess= $(this).data("comvalues");
		   updateTips(comvaluess);
            $("#dialog-form").dialog("open");
		}); 
		
			$(".tbl_hfcunitcombox").dblclick(function(){
			if(sessionStorage.authlevel == 3){
	  			return;
	  		}
			var domstr = $(this).data("paramname");			
			var rownum = $(this).data("rownum");
			var comvaluess= $(this).data("comvalues");	
			alert(comvaluess);
			var mArray =comvaluess.split(",");
				$('#comvaluelist').empty();
			for(var i = 0; i<mArray.length; i++){
			$('#comvaluelist').append($("<option value='"+mArray[i]+"'>"+mArray[i]+"</option>"));
			}
			$('#comvaluelist').val($(this)[0].textContent);

			$( "#dialog-comboxset" ).dialog({
        	      autoOpen: false,
        	      height: 240,
        	      width: 300,
        	      modal: true,
        	      buttons: {
        	    	  Ok: function() {        	    		  
        	         	    			  var node = __globalobj__._realDevice.getFirstChild();
							  var sleetindex=$("#comvaluelist").get(0).selectedIndex+1;
							  	alert(sleetindex);
            	    		  var datastring = '{"cmd":"hfcvalueset","target":"setVars","ip":"' + __globalobj__._realDevice.key + '","rowNum":"'+ rownum 
            	    			  +'","isRow":"true","domstr":"'+ domstr +'","value":"'+sleetindex +'"}';
            	    		  __globalobj__._send(datastring);
            	              $( this ).dialog( "close" );
        	    		
        	            }
        	      },
        	      close: function() {
	        	    	$("#set_value").removeClass("ui-state-error-custom");
	        	  }
    	    });
            $("#set_value").val($(this)[0].textContent.replace(/[^\d.]/g,''));
            updateTips($.i18n.prop('message_devnewval'));
            $("#dialog-comboxset").dialog("open");
		}); 
		
		
		$(".isalarmThreshold").dblclick(function(){
			var node = __globalobj__._realDevice.getFirstChild();
			var domstr = $(this)[0].id;
			var datastring = '{"cmd":"hfcvalueset","target":"getalarmThreshold","ip":"' + __globalobj__._realDevice.key +'","domstr":"'+ domstr 
			+'","isRow":"false","rcommunity":"'+ __globalobj__._realDevice.data.rcommunity + '","devtype":"'+ __globalobj__._realDevice.getLastChild().key + '"}';
  		  	__globalobj__._send(datastring);			
		}); 
		
		$(".tbl_isalarmThreshold").dblclick(function(){
			var node = __globalobj__._realDevice.getFirstChild();
			var domstr = $(this).data("paramname");			
			var rownum = $(this).data("rownum");
			var datastring = '{"cmd":"hfcvalueset","target":"getalarmThreshold","ip":"' + __globalobj__._realDevice.key +'","domstr":"'+ domstr +'","rowNum":"'+ rownum 
				+'","isRow":"true","rcommunity":"'+ __globalobj__._realDevice.data.rcommunity + '","devtype":"'+ __globalobj__._realDevice.getLastChild().key + '"}';
  		  	__globalobj__._send(datastring);			
		}); 
		
		$('.device-close').click(function(){
			var node = __globalobj__._realDevice.getFirstChild();
			var datastring = '{"cmd":"deviceclose","ip":"' + __globalobj__._realDevice.key + '"}';
  		  	__globalobj__._send(datastring);
  		  	$('.candile').empty();
		});
			
		//$('#dev-status-text')[0].textContent = $.i18n.prop('message_devconnected');
		$('#i18n-devip')[0].textContent = $.i18n.prop('message_devip');
		$('#i18n-sysdesc')[0].textContent = $.i18n.prop('message_devsysdesc');
		$('#i18n-contact')[0].textContent = $.i18n.prop('message_devcontact');
		$('#i18n-uptime')[0].textContent = $.i18n.prop('message_devuptime');
		$('#i18n-devparam')[0].textContent = $.i18n.prop('message_devparam');
		$('#i18n-publicparam')[0].textContent = $.i18n.prop('message_devpublicparam');		
		//$('#i18n-inputpower')[0].textContent = $.i18n.prop('message_devinpower');
		$('#i18n-outputpower')[0].textContent = $.i18n.prop('message_devoutpower');
		$('#i18n-powername')[0].textContent = $.i18n.prop('message_devpowername');
		$('#i18n-powerval')[0].textContent = $.i18n.prop('message_devpowerval');		
		$('#i18n-lasertbl')[0].textContent = $.i18n.prop('message_devlasertbl');
		$('#i18n-bias')[0].textContent = $.i18n.prop('message_devbias');		
		$('#i18n-current')[0].textContent = $.i18n.prop('message_devcurrent');
		
	$('#i18n-RFcontrolmode')[0].textContent = $.i18n.prop('message_RFcontrolmode');
		$('#i18n-AGCOffset')[0].textContent = $.i18n.prop('message_AGCOffset');
		$('#i18n-LaserONOFF')[0].textContent = $.i18n.prop('message_LaserONOFF');
		$('#i18n-Channelspacingfrequency')[0].textContent = $.i18n.prop('message_Channelspacingfrequency');
		$('#i18n-InputRFpower')[0].textContent = $.i18n.prop('message_InputRFpower');
		$('#i18n-wavefrequency')[0].textContent = $.i18n.prop('message_wavefrequency');
		

		$('#i18n-traptbl')[0].textContent = $.i18n.prop('message_devtraptbl');		
		$('#i18n-trapindex')[0].textContent = $.i18n.prop('message_devtrapindex');
		$('#i18n-trapip')[0].textContent = $.i18n.prop('message_devtrapip');		
		$('#i18n-publictemper')[0].textContent = $.i18n.prop('message_devtemper');
		$('#i18n-publicID')[0].textContent = $.i18n.prop('message_devlogicid');		
		$('#i18n-publictype')[0].textContent = $.i18n.prop('message_devtype');		
		$('#i18n-publicsn')[0].textContent = $.i18n.prop('message_devsn');
		
	</script>
</head>
<body>
	<div class="devdetail">
		<button type="button" class="close device-close" aria-hidden="true">&times;</button>
		<ul class = "devdetail-header">
			<li class="dev-img"><img  id ="emtransimg"  /></li>
			<li class="dev-status"><span id="dev-status-text"></span></li>
			<li>
				<table class="table tbl_noborder tbl_devtips">
	        		<tr>
	        			<td id="i18n-devip"></td>
	        			<td id="panel-devip"></td>
	        			<td id="i18n-sysdesc">系统描述:</td>
	        			<td id="panel-devinfo"></td>	        			
	        		</tr>
	        		<tr>
	        			<td id="i18n-contact">联系信息:</td>
	        			<td id="panel-devcontact"></td>
	        			<td id="i18n-uptime">在线时间:</td>
	        			<td id="panel-onlinetimeticks"></td>
	        		</tr>
	        	</table>
			</li>
		</ul>	
		<div class = "devdetail-content">
			<div class="tabbable">
				<ul class="nav nav-tabs" role="tablist">
				    <li class="active"><a href="#tab-dev1" data-toggle="tab" id="i18n-devparam">EDFA设备参数</a></li>
				    <li><a href="#tab-dev2" data-toggle="tab" id="i18n-publicparam">HFC公共库参数</a></li>				    
				</ul>
				<div class="tab-content">
				    <div class="tab-pane tab-devpane active" id="tab-dev1">
					    <div class="devdetail-content">			
					    	<table class="tbl_devdetail-content">					 
					    		<tr>
					    			<td>
					    				<table class="table tbl_power" style="width:40%">
										   <thead>
											    <tr>
											      <th id="i18n-powername">电源输出表</th>
											      <th id="i18n-powerval">输出电压</th>
											    </tr>
										  </thead>
										  <tbody>
												<tr>
													<td class="otxDCPowerName_row0"></td>
													<td class="otxDCPowerVoltage_row0 tbl_isalarmThreshold" data-rownum="0" data-paramname="otxDCPowerVoltage" id="otxDCPowerVoltage_row0"></td>
												</tr>
												<tr>
													<td class="otxDCPowerName_row1"></td>
													<td class="otxDCPowerVoltage_row1 tbl_isalarmThreshold" data-rownum="1" data-paramname="otxDCPowerVoltage" id="otxDCPowerVoltage_row1"></td>
												</tr>
													<tr>
													<td class="otxDCPowerName_row2"></td>
													<td class="otxDCPowerVoltage_row2 tbl_isalarmThreshold" data-rownum="2" data-paramname="otxDCPowerVoltage" id="otxDCPowerVoltage_row2"></td>
												</tr>
													<tr>
													<td class="otxDCPowerName_row3"></td>
													<td class="otxDCPowerVoltage_row3 tbl_isalarmThreshold" data-rownum="3" data-paramname="otxDCPowerVoltage" id="otxDCPowerVoltage_row3"></td>
												</tr>
													<tr>
													<td class="otxDCPowerName_row4"></td>
													<td class="otxDCPowerVoltage_row4 tbl_isalarmThreshold" data-rownum="4" data-paramname="otxDCPowerVoltage" id="otxDCPowerVoltage_row4"></td>
												</tr>
												
										  </tbody>
										</table>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td>
					    				<table class="table tbl_devmiddle tbl_devcontent" style="width:40%">
										   <thead>
											    <tr>
											      <th id="i18n-lasertbl">激光器表</th>
											      <th id="i18n-bias">偏置电流</th>
											      <th id="i18n-outputpower">输出光功率</th>
											      <th id="i18n-current">制冷电流</th>
											       <th id="i18n-wavefrequency">光波长频率</th>
											      <th id="i18n-LaserONOFF">激光器开关</th>
											    </tr>
										  </thead>
										  <tbody>
												<tr>
													<td class="otxModuleIndex_row0"></td>
													<td class="otxLaserCurrent_row0 tbl_isalarmThreshold" data-rownum="0" data-paramname="otxLaserCurrent" id="otxLaserCurrent_row0"></td>
													<td class="otxLaserOutputPower_row0 tbl_isalarmThreshold" data-rownum="0" data-paramname="otxLaserOutputPower" id="otxLaserOutputPower_row0"></td>
													<td class="otxLaserTecCurrent_row0 tbl_isalarmThreshold" data-rownum="0" data-paramname="otxLaserTecCurrent" id="otxLaserTecCurrent_row0"></td>
													<td class="otxConfigurationItuFrequency_row0" data-rownum="0" data-paramname="otxConfigurationItuFrequency" id="otxConfigurationItuFrequency_row0"></td>
							
													<td class="otxLaserControl_row0 tbl_hfcunitcombox" data-comvalues="on,off" data-rownum="0" data-paramname="otxLaserControl" id="otxLaserControl_row0"></td>
												</tr>						
										  </tbody>
										</table>
					    			</td>
					    		</tr>
								    		<tr>
					    			<td>
					    				<table class="table tbl_input tbl_devmiddle" style="width:40%">
										   <thead>
											    <tr>	
												<th id="i18n-lasertbl">Input table</th>												
											      <th id="i18n-InputRFpower">输入电平</th>
											      <th id="i18n-RFcontrolmode">RF控制模式</th>
											      <th id="i18n-AGCOffset">AGC偏移量</th>
											       <th id="i18n-SBS ">SBS </th>
											      <th id="i18n-Channelspacingfrequency">频道间隔频率</th>
												   <th id="i18n-MGC">MGC</th>
											    </tr>
										  </thead>
										  <tbody>
												<tr>
													<td class="otxModuleIndexinput_row0"></td>
													<td class="otxInputRFLevel_row0 tbl_isalarmThreshold" data-rownum="0" data-paramname="otxInputRFLevel" id="otxInputRFLevel_row0"></td>
													<td class="otxConfigurationAGCMode_row0 tbl_hfcunitcombox" data-comvalues="MGC,AGC" data-rownum="0" data-paramname="otxConfigurationAGCMode" id="otxConfigurationAGCMode_row0"></td>
													<td class="otxConfigurationOmi_row0 tbl_hfcunit" data-comvalues="[-3,+3],+/-0.5"  data-rownum="0" data-paramname="otxConfigurationOmi" id="otxConfigurationOmi_row0"></td>
													<td class="otxConfigurationSbsSuppression_row0 tbl_hfcunit" data-comvalues="13-19.5; 0.5/step"   data-rownum="0" data-paramname="otxConfigurationSbsSuppression" id="otxConfigurationSbsSuppression_row0"></td>
													<td class="otxConfigurationChannelDistance_row0 tbl_hfcunit"  data-comvalues="Only following values:6,7,8" data-rownum="0" data-paramname="otxConfigurationChannelDistance" id="otxConfigurationChannelDistance_row0"></td>
													<td class="otxConfigurationRfGain_row0 tbl_hfcunit" data-comvalues="[0,15],+/-0.5" data-rownum="0" data-paramname="otxConfigurationRfGain" id="otxConfigurationRfGain_row0"></td>
												</tr>						
										  </tbody>
										</table>
					    			</td>
					    		</tr>
					    	</table>						
					    </div>				    	
				    </div>
				    <div class="tab-pane tab-devpane" id="tab-dev2">
				    	<div class="devdetail-public">
				    		<div>
				    			<table class="table table-bordered">
								   <caption id="i18n-traptbl">Trap目标主机表</caption>
								   <thead>
									    <tr>
									      <th id="i18n-trapindex">序号.</th>
									      <th id="i18n-trapip">目标IP地址</th>
									    </tr>
								  </thead>
								  <tbody>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row0"></label></td>
									      <td><label class="trapaddr" data-rownum="0" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row0"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row1"></label></td>
									      <td><label class="trapaddr" data-rownum="1" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row1"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row2"></label></td>
									      <td><label class="trapaddr" data-rownum="2" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row2"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row3"></label></td>
									      <td><label class="trapaddr" data-rownum="3" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row3"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row4"></label></td>
									      <td><label class="trapaddr" data-rownum="4" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row4"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row5"></label></td>
									      <td><label class="trapaddr" data-rownum="5" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row5"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row6"></label></td>
									      <td><label class="trapaddr" data-rownum="6" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row6"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row7"></label></td>
									      <td><label class="trapaddr" data-rownum="7" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row7"></label></td>
									    </tr>
								  </tbody>
								</table>
				    		</div>
					    	<div>
					    		<table class="table tbl_hfcpublic">
								  <tbody>
									    <tr>
									      <td id="i18n-publictemper">温度:</td>
									      <td><input type="text" class="form-control" id="commonInternalTemperature" readonly></td>									      
									    </tr>
									    <tr>
									      <td id="i18n-publicID">逻辑ID:</td>
									      <td><input type="text" class="form-control" id="commonNELogicalID" readonly></td>
									    </tr>
									    <tr>
									      <td id="i18n-publictype">型号:</td>
									      <td><input type="text" class="form-control" id="commonNEModelNumber" readonly></td>
									    </tr>
									    <tr>
									      <td id="i18n-publicsn">序列号:</td>
									      <td><input type="text" class="form-control" id="commonNESerialNumber" readonly></td>
									    </tr>
									    <tr>
									      <td>MAC</td>
									      <td><input type="text" class="form-control" id="commonDeviceMACAddress" readonly></td>
									    </tr>
								  </tbody>
								</table>
					    	</div>							
					    </div>				    	
				    </div>
				</div>
			</div>
		</div>
	</div>	
</body>
