<!DOCTYPE HTML>
<html>
<head>
<title>Wiseview NMS for HFC</title>
<link rel="shortcut icon" href="AppIcon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/stylesheets/ui.fancytree.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/jquery-ui.min.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/jquery.contextMenu.min.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/jquery.dataTables.min.css" rel='stylesheet' type='text/css' />
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jquery.i18n.properties.min.js"></script>
 <!-- Bootstrap Core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet"> 
<link rel="stylesheet" href="/stylesheets/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/jquery.fancytree.min.js"></script>
<script src="/javascripts/jquery.ui-contextmenu.min.js"></script>
<script src="/javascripts/jquery.fancytree.dnd.js"></script>
<script src="/javascripts/jquery.dataTables.min.js"></script>

<!-- DES -->
<script src="/javascripts/tripledes2.js"></script>
<script src="/javascripts/mode-ecb.js"></script>
<script src="/javascripts/md5.js"></script>

</head> 
<body>
   <div class="page-container">
	   <!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
			<!-- header-starts -->
				<div class="header-section">
					<!--menu-right-->
					<div class="top_menu">
						<div class="top_nav">
							<ul class="navigation">
								<li class="nav_search icon-nav">
									<i class="icon-search icon-2x" ></i>
									<p class="i18n_nav_search"></p>
								</li>
								<li class="nav_managerauth icon-nav">
									<i class="icon-lock icon-2x" ></i>
									<p></p>
								</li>
								<li class="nav_manageralarm icon-nav">
									<i class="icon-bar-chart icon-2x" ></i>
									<p></p>
								</li>
								<li class="nav_managerlog icon-nav">
									<i class="icon-briefcase icon-2x" ></i>
									<p></p>
								</li>
								<li class="nav_server icon-nav">
									<i class="icon-hdd icon-2x" ></i>
									<p></p>
								</li>
								<li class="nav_sound icon-nav">
									<i class="icon-volume-up icon-2x" ></i>
									<p></p>
								</li>
								<li class="nav_about icon-nav">
									<i class="icon-question icon-2x" ></i>
									<p></p>
								</li>
							</ul>
						</div>
						<!--/profile_details-->
						<div class="users_details_left">
							<div class="btn-group">
							    <a class="btn loguser" href="#"><i class="icon-user"></i><label id="username"></label> </a>
							    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
							    <ul class="dropdown-menu">
							        <li><a href="#" id="md-password"><i class="icon-pencil"></i> 修改密码</a></li>
							        <li><a href="#" id="user-logout"><i class="icon-signout"></i> 注销</a></li>
							        <li class="divider"></li>
							        <li><a href="#"><i class="i"></i> Make admin</a></li>
							    </ul>
							</div>
						</div>
						<div class="clearfix"></div>	
						<!--//profile_details-->
					</div>
					<!--//menu-right-->
						<div class="clearfix"></div>
				</div>
						<!-- //header-ends -->
				<div class="outter-wp">
					<div class="candile"> 

							
					</div>					
				<!--footer section end-->
				</div>
				<footer class="left-content">
				  <div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li class="active"><a href="#tab-table1" data-toggle="tab" id="footer_tblalarm">设备告警</a></li>
					    <li><a href="#tab-table3" data-toggle="tab" id="footer_tblinvalidalarm">失效告警</a></li>
					    <li><a href="#tab-table2" data-toggle="tab" id="footer_tbloptlog">操作日志</a></li>
					  </ul>
					  <div class="tab-content">
					    <div class="tab-pane tab-log active" id="tab-table1">
					      <table id="tbl_devalarm" class="table table-striped table-bordered" cellspacing="0" width="100%">
					      		<thead>
					            <tr>
					                <th>ID</th>
					                <th id="tbl_alarmlevel"></th>
					                <th id="tbl_alarmip"></th>
					                <th id="tbl_alarmpath"></th>
					                <th id="tbl_alarmtype"></th>
					                <th id="tbl_alarmpname"></th>
					                <th id="tbl_alarmvalue"></th>
					                <th id="tbl_alarmtime"></th>
					                <th id="tbl_alarmcomfirm"></th>
					                <th id="tbl_alarmcomfirmtime"></th>
					            </tr>
					        </thead>		
					      </table>				          
					    </div>
					    <div class="tab-pane tab-log" id="tab-table3">
					      <table id="tbl_devalarm_old" class="table table-striped table-bordered" cellspacing="0" width="100%">
					      		<thead>
					            <tr>
					                <th>ID</th>
					                <th id="tbl_alarmlevel1"></th>
					                <th id="tbl_alarmip1"></th>
					                <th id="tbl_alarmpath1"></th>
					                <th id="tbl_alarmtype1"></th>
					                <th id="tbl_alarmpname1"></th>
					                <th id="tbl_alarmvalue1"></th>
					                <th id="tbl_alarmtime1"></th>
					                <th id="tbl_alarmcomfirm1"></th>
					                <th id="tbl_alarmcomfirmtime1"></th>
					            </tr>
					        </thead>
					      </table>				          
					    </div>
					    <div class="tab-pane tab-log" id="tab-table2">
					      <table id="tbl_optlog" class="table table-striped table-bordered" cellspacing="0" width="100%">
					      	<thead>
					            <tr>
					                <th id="tbl_optid">日志编号</th>
					                <th id="tbl_optuser">操作用户</th>
					                <th id="tbl_optype">日志类型</th>
					                <th id="tbl_optcontent">日志内容</th>
					                <th id="tbl_optime">登记时间</th>
					            </tr>
					        </thead>					      	
					      </table>
					    </div>
					  </div>
					</div>
					
				</footer>
			</div>
			<div class="sidebar-menu">
				<header class="logo">
					<div>
						<img src="images/AppIcon.ico" style="width:26px" />
						<span id="logo">Wiseview NMS for HFC</span>
					</div>					
				</header>
				<div style="border-top:1px solid rgba(69, 74, 84, 0.7); margin:3px 0px"></div>
				<div class="input-group" style="padding: 0px 5px;">
					<input type="text" class="form-control cusinput" placeholder="IP/Title" id="searchbar-key">
					<span class="input-group-btn">						
						<button class="btn btn-default" type="button" id="btn-tree-search">
							<i class="icon-search"></i>
						</button>
					</span>
				</div>
	 			<div class="sidebar-tree">
	 				<div id="dev-fancytree"></div>
	 			</div>
	 			<!-- <div class="panel panel-info sidebar-info">
				    <div class="panel-heading" style="padding: 5px 8px;">
				        <h3 class="panel-title">状态信息</h3>
				    </div>
				    <div class="panel-body">
				        <table>
				        	<tr>
				        		<td>服务器状态:</td>
				        		<td><i class="icon-ok-circle"></i></td>
				        	</tr>
				        	<tr class="dbstatus-lb">
				        		<td>数据库状态:</td>
				        		<td><i class="icon-ok-circle dbstatus"></i></td>
				        	</tr>
				        </table>
				    </div>
				</div> -->
			</div>
			<div class="clearfix"></div>		
		</div>
		<script>
			/*var toggle = true;
						
			$(".sidebar-icon").click(function() {                
			  if (toggle)
			  {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#dev-fancytree").css({"display":"none"});
				$(".sidebar-info").css({"display":"none"});
				$("#menu span").css({"position":"absolute"});
				$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
			  }
			  else
			  {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				$("#dev-fancytree").css({"display":"block"});
				$(".sidebar-info").css({"display":"block"});
				$("#menu span").css({"position":"relative"});
				setTimeout(function() {
					$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
				}, 400);
				
			  }
			  				
				toggle = !toggle;
			});
			*/
			//$(".candile").load("/home");
		</script>

	</div>
	<!-- hide div -->
	<div id="dialog-form" title="Setting" style="display:none">
		<p class="validateTips">在文本框中输入.</p>
	 	<input type="text" id="set_value" value="" >
	  
	</div>
	<div class="modal fade bs-example-modal-lg" id="dialog-server" tabindex="-1" role="dialog" aria-labelledby="server-status" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="server-status">
						服务器状态
					</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-info sidebar-info">
					    <div class="panel-heading" style="padding: 5px 8px;">
					        <h3 class="panel-title" id="server-info">状态信息</h3>
					    </div>
					    <div class="panel-body">
					        <table>
					        	<tr class="trapstatus-lb">
					        		<td id="server-trap">trap监听模块:</td>
					        		<td><i class="icon-ok-circle trapstatus"></i></td>
					        	</tr>
					        	<tr class="dbstatus-lb">
					        		<td id="server-db">数据库状态:</td>
					        		<td><i class="icon-ok-circle dbstatus"></i></td>
					        	</tr>
					        	<tr class="redisstatus-lb">
					        		<td id="server-redis">Redis Connection:</td>
					        		<td><i class="icon-ok-circle redisstatus"></i></td>
					        	</tr>
					        	<tr>
					        		<td id="server-client">已连接客户端数量:</td>
					        		<td><label id="server-clients"></label></td>
					        	</tr>					        	
					        </table>
					    </div>
					</div> 
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div id="dialog-newdev" title="添加新的二类设备" style="display:none">
		<table class="table">
			<tr>
				<td>
					<input id="needtype" type="checkbox" value="" /><label id="dilg-sdevtype">指定设备类型</label> 
  				</td>
  				<td id="dilg-ipaddr">IP地址:</td>
  				<td>
					<input type="text" class="form-control" id="newdev_ip" >
  				</td>
			</tr>
			<tr>
				<td>
					<select name="salutation" id="salutation" disabled>
				      <option selected value="other">其它设备</option>
				      <option value="EDFA">EDFA</option>
				      <option value="Trans">光发射机</option>
				      <option value="rece_workstation">光接收机/光工作站</option>
				      <option value="OSW">光切换开关</option>
				      <option value="RFSW">射频切换开关</option>
				      <option value="PreAMP">前置放大器</option>
				      <option value="wos">光平台</option>
				    </select>
				</td>
				<td id="dilg-rcommunity">只读团体名:</td>
  				<td>
					<input type="text" class="form-control" id="newdev_rcommunity" value="public" >
  				</td>
			</tr>
			<tr>
				<td>						
				</td>
				<td id="dilg-wcommunity">读写团体名:</td>
  				<td>
					<input type="text" class="form-control" id="newdev_wcommunity" value="public" >
  				</td>
			</tr>
		</table>
	  	<div>
   			<div >
		        <label id="dilg-devname">设备名称:</label><input type="text" class="form-control" id="newdev_devname" value="新设备" >
		        	<label id="dilg-invalidchar">设备组名请勿包含以下字符:/ \ #</label>
		    </div>
		</div>
	</div>
	<div id="dialog-alarmThreshold" title="告警门限设置" style="display:none">
		<table class="table">
			<tr>
				<td>
					<input id="ishihi" type="checkbox" value="" /> 
  				</td>
				<td>
					HIHI: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="hihi" >
  				</td>
			</tr>
			<tr>
				<td>
					<input id="ishi" type="checkbox" value="" /> 
  				</td>
				<td>
					HI: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="hi" >
  				</td>
			</tr>
			<tr>
				<td>
					<input id="islo" type="checkbox" value="" /> 
  				</td>
				<td>
					LO: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="lo" >
  				</td>
			</tr>
			<tr>
				<td>
					<input id="islolo" type="checkbox" value="" /> 
  				</td>
				<td>
					LOLO: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="lolo" >
  				</td>
			</tr>
			<tr>
				<td>
					
  				</td>
				<td>
					DEAD: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="dead" >
  				</td>
			</tr>
		</table>
	</div>
	<audio id="alarmwav" src="" controls="controls" style="display:none">wav</audio>
	<div id="dialog-devsearch" title="搜索" style="display:none">
		<table class="table">
			<tr>
				<td id="dilg-community">
					团体名: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="search-community" value="public" >
  				</td>
  				<td id="dilg-startIP">
					起始IP: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="search-sip" value="192.168.1.2" >
  				</td>
			</tr>
			<tr>
				<td id="dilg-devtype">
					请选择设备类型: 
  				</td>
  				<td>
					<select name="search-stype" id="search-stype">
				      <option selected>National standard</option>
				      <option>Wos4000,Wos3000_SCTE</option>
				    </select>
  				</td>
  				<td id="dilg-endIP">
					结束IP: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="search-eip" value="192.168.1.253" >
  				</td>
			</tr>			
		</table>
		<div class="progress progress-striped">
		    <div class="progress-bar progress-bar-info progress-search" role="progressbar"
		         aria-valuemin="0" aria-valuemax="100"
		         style="width: 0%;">
		        <span class="sr-only">0%</span>
		    </div>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div class="modal fade bs-example-modal-lg" id="modal_searchresult" tabindex="-1" role="dialog" aria-labelledby="reg-newdev" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="reg-newdev">
						新发现设备注册
					</h4>
				</div>
				<div class="modal-body modal-search-content">
					<div class="modal-tree">
		 				<div id="reg-grouptree"></div>
		 			</div>
		 			<div class="modal-newdevs">	
		 				<ul class="list-group" id="list-newdevs">
							<a class="list-group-item active">
								<h4 class="list-group-item-heading">
									新设备列表
								</h4>
							</a>
						</ul>
		 			</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-regdev" >注册
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="btn_regclose">关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal-lg" id="modal_alarm" tabindex="-1" role="dialog" aria-labelledby="dilg-historytitle" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="dilg-historytitle">
						历史告警日志
					</h4>
				</div>
				<div class="modal-body modal-search-content-m">					
		 			<table class="table tbl_noborder">
		 				<tr>
		 					<td id="dilg-start">开始</td>
		 					<td><input type="text" id="datepicker_start"></td>
		 					<td id="dilg-end">结束</td>
		 					<td><input type="text" id="datepicker_end"></td>
		 					<td>
								<select name="alarmfilter-date" id="alarmfilter-date">
							      <option selected>自选日期</option>
							      <option>最近一天</option>
							      <option>最近一周</option>
							      <option>最近一月</option>
							    </select>
							</td>
		 				</tr>
		 				<tr>
		 					<td id="dilg-source">来源</td>
		 					<td><input type="text" class="form-control" id="alarmfilter-source" value="" ></td>
		 				</tr>
		 				<!-- <tr>
		 					<td>级别</td>
		 					<td><select name="alarmfilter-level" id="alarmfilter-level">
							      <option selected>所有告警</option>
							      <option>紧急告警</option>
							      <option>重要告警</option>
							      <option>普通信息</option>
							    </select>
							</td>
							<td>原因/类型</td>
		 					<td><select name="alarmfilter-type" id="alarmfilter-type">
							      <option selected>所有</option>
							      <option>参数</option>
							      <option>掉线</option>
							    </select>
							</td>
		 				</tr>
		 				<tr>
		 					<td>状态/是否处理</td>
		 					<td><select name="alarmfilter-istreatment" id="alarmfilter-istreatment">
							      <option selected>所有</option>
							      <option>已处理</option>
							      <option>未处理</option>
							    </select>
							</td>
							<td>设备名/机房名</td>
		 					<td><input type="text" class="form-control" id="alarmfilter-nename" value="" ></td>
		 				</tr> -->
		 			</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-alarmok" >确定
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-alarmclose">关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal-lg" id="modal_alarmlists" tabindex="-1" role="dialog" aria-labelledby="alarmlist-title" aria-hidden="true">
		<div class="modal-dialog" style="width:80%; height:500px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="alarmlist-title">
						历史告警日志
					</h4>
				</div>
				<div class="modal-body"  style="height:500px">					
		 			<table id="tbl_alarmlists" class="table table-striped table-bordered" cellspacing="0" width="100%">
					      	
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-alarmexports" >导出到EXCEL
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-alarmclose1">关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal-lg" id="modal_optlists" tabindex="-1" role="dialog" aria-labelledby="optlist-title" aria-hidden="true">
		<div class="modal-dialog" style="width:80%; height:500px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="optlist-title">
						
					</h4>
				</div>
				<div class="modal-body"  style="height:500px">					
		 			<table id="tbl_loglists" class="table table-striped table-bordered" cellspacing="0" width="100%">
					      	
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-optexports" >导出到EXCEL
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-optclose1">关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal" id="modal_optlog" tabindex="-1" role="dialog" aria-labelledby="dilg-optlogtitle" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="dilg-optlogtitle">
						历史/事件日志
					</h4>
				</div>
				<div class="modal-body modal-search-content-m">					
		 			<table class="table tbl_noborder">
		 				<tr>
		 					<td id="dilg-start1">开始</td>
		 					<td><input type="text" id="datepicker_optstart"></td>
		 					<td id="dilg-end1">结束</td>
		 					<td><input type="text" id="datepicker_optend"></td>
		 					
		 				</tr>
		 				<tr>
		 					<td id="dilg-operater">操作者</td>
		 					<td><input type="text" class="form-control" id="optfilter-name" value="" ></td>
		 				</tr>		 				
		 			</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-optlogok" >确定
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-alarmclose2">关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal" id="modal_about" tabindex="-1" role="dialog" aria-labelledby="mymodal_about" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="mymodal_about">
						关于
					</h4>
				</div>
				<div class="modal-body modal-search-content-m2">					
		 			<div class="about_pic">
		 				<img src="/images/logo.jpg" id="about_logo" />
		 			</div>
		 			<div class="about_info">
		 				<p>Prevail HFC NMS Client.</p>
		 				<p>1.0.0.1</p>
		 				<fieldset>
						    <legend>PREVAIL</legend>
						       HFC Network Management.
						</fieldset>
		 			</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-alarmclose3">关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal" id="modal_authman" tabindex="-1" role="dialog" aria-labelledby="mymodal_authman" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="mymodal_authman">
						权限管理
					</h4>
				</div>
				<div class="modal-body modal-search-content-m3">					
		 			<table class="table tbl_authman">
					   <thead>
						    <tr>
						      <th class="i18n-username">用户名</th>
						      <th class="i18n-userid">用户ID</th>
						      <th class="i18n-level">级别</th>
						      <th class="i18n-trapnotice">告警通知</th>
						    </tr>
					  </thead>
					  <tbody>
							
					  </tbody>
					</table>
					<div class="tbl_authman_base"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li class="active"><a href="#tab-table1" data-toggle="tab" id="auth_base">基本</a></li>
					  </ul>
					  <div class="tab-content">
					    <div class="tab-pane tab-log active" id="tab-table1">
					     	 <table class="tbl_authdis">
					     	 	<tr>
					     	 		<td style="width:25%" class="i18n-username1">用户名:</td>
					     	 		<td><input type="text" class="form-control" id="auth-usernamev" readonly></td>
					     	 	</tr>
					     	 </table>   
					     	 <hr />  
					     	 <table class="tbl_authdis">
					     	 	<tr class="tbl_authdis_tr">
					     	 		<td style="width:25%" class="i18n-usergroup">用户组:</td>
					     	 		<td>
										<select name="userauth-level" id="userauth-level">

									    </select>
									</td>
					     	 	</tr>
					     	 	<tr class="tbl_authdis_tr">
					     	 		<td class="i18n-oripassword">原密码:</td>
					     	 		<td><input type="password" class="form-control" id="auth-oripassword"></td>
					     	 	</tr>
					     	 	<tr class="tbl_authdis_tr">
					     	 		<td class="i18n-password">密码:</td>
					     	 		<td><input type="password" class="form-control" id="auth-password"></td>
					     	 	</tr>
					     	 	<tr class="tbl_authdis_tr">
					     	 		<td class="i18n-repeat">重复:</td>
					     	 		<td><input type="password" class="form-control" id="auth-rpassword"></td>
					     	 	</tr>
					     	 	<tr class="tbl_authdis_tr" style="text-align: end">
					     	 		<td colspan="2"><button type="button" class="btn btn-default" id="btn-authsub" disabled=true>提交
									</button></td>
					     	 	</tr>
					     	 </table>
					     	 <hr /> 
					     	 <button type="button" class="btn btn-default" id="btn-authdel" disabled=false>删除
							 </button>
					     	 <button type="button" class="btn btn-default" id="btn-authadd" style="float:right">添加
							 </button>							 
					    </div>

					  </div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal" id="modal_authmanbase" tabindex="-1" role="dialog" aria-labelledby="mymodal_authmanbase" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="mymodal_authmanbase">
						密码设置
					</h4>
				</div>
				<div class="modal-body modal-search-content-m2">					
		 			<table class="table tbl_authmanbase">
						<tr class="tbl_authdis_tr">
			     	 		<td class="i18n-oripassword1">原密码:</td>
			     	 		<td><input type="password" class="form-control" id="auth-oripassword1"></td>
			     	 	</tr>
			     	 	<tr class="tbl_authdis_tr">
			     	 		<td class="i18n-password1">密码:</td>
			     	 		<td><input type="password" class="form-control" id="auth-password1"></td>
			     	 	</tr>
			     	 	<tr class="tbl_authdis_tr">
			     	 		<td class="i18n-repeat1">重复:</td>
			     	 		<td><input type="password" class="form-control" id="auth-rpassword1"></td>
			     	 	</tr>
			     	 	<tr class="tbl_authdis_tr" style="text-align: end">
			     	 		<td colspan="2"><button type="button" class="btn btn-default" id="btn-authsub1">提交
							</button></td>
			     	 	</tr>						
					</table>					
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade bs-example-modal" id="modal_adduser" tabindex="-1" role="dialog" aria-labelledby="mymodal_adduser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="mymodal_adduser">
						添加用户
					</h4>
				</div>
				<div class="modal-body modal-search-content-m2">					
		 			<table class="table tbl_authmanbase">
		 				<tr class="tbl_authdis_tr">
			     	 		<td class="i18n-level1">级别:</td>
			     	 		<td><select id="adduser-level">
							      <option class="i18n-ladmin" selected value="2">管理员</option>
							      <option class="i18n-lobserver" value="2">观察者</option>
							    </select></td>
			     	 	</tr>		 			
						<tr class="tbl_authdis_tr">
			     	 		<td class="i18n-username2">用户名:</td>
			     	 		<td><input type="text" class="form-control" id="auth-username2"></td>
			     	 	</tr>
			     	 	<tr class="tbl_authdis_tr">
			     	 		<td class="i18n-password2">密码:</td>
			     	 		<td><input type="password" class="form-control" id="auth-password2"></td>
			     	 	</tr>
			     	 	<tr class="tbl_authdis_tr">
			     	 		<td class="i18n-repeat2">重复:</td>
			     	 		<td><input type="password" class="form-control" id="auth-rpassword2"></td>
			     	 	</tr>
			     	 	<tr class="tbl_authdis_tr" style="text-align: end">
			     	 		<td colspan="2"><button type="button" class="btn btn-default" id="btn-adduser">添加
							</button></td>
			     	 	</tr>						
					</table>					
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
   <script src="/javascripts/hfcdetails.js"></script>
   <script src="/javascripts/main.js"></script>
</body>
</html>