<!DOCTYPE HTML>
<html>
<head>
<title>HFC NMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/stylesheets/ui.fancytree.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/jquery-ui.min.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/jquery.contextMenu.min.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/jquery.dataTables.min.css" rel='stylesheet' type='text/css' />
<script src="/javascripts/jquery-3.2.1.min.js"></script>
 <!-- Bootstrap Core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet"> 
<link rel="stylesheet" href="/stylesheets/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/jquery.fancytree.min.js"></script>
<script src="/javascripts/jquery.ui-contextmenu.min.js"></script>
<script src="/javascripts/jquery.fancytree.dnd.js"></script>
<script src="/javascripts/jquery.dataTables.min.js"></script>

<script type="text/javascript">

</script>
</head> 
<body>
   <div class="page-container">
	   <!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
			<!-- header-starts -->
				<div class="header-section">
					<!--menu-right-->
					<div class="top_menu">
						<div class="top_nav">
							<ul class="navigation">
								<li class="nav_search">
									<i class="icon-search icon-2x" ></i>
									<p>搜索设备</p>
								</li>
								<li class="nav_managerauth">
									<i class="icon-lock icon-2x" ></i>
									<p>权限管理</p>
								</li>
								<li class="nav_managerlog">
									<i class="icon-calendar icon-2x" ></i>
									<p>日志管理</p>
								</li>
								<li class="nav_displaylog">
									<i class="icon-eye-open icon-2x" ></i>
									<p>隐藏日志栏</p>
								</li>
							</ul>
						</div>
						<!--/profile_details-->
						<div class="users_details_left">
							<div class="btn-group">
							    <a class="btn loguser" href="#"><i class="icon-user"></i> Admin</a>
							    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
							    <ul class="dropdown-menu">
							        <li><a href="#"><i class="icon-pencil"></i> 修改密码</a></li>
							        <li><a href="#"><i class="icon-signout"></i> 注销</a></li>
							        <li class="divider"></li>
							        <li><a href="#"><i class="i"></i> Make admin</a></li>
							    </ul>
							</div>
						</div>
						<div class="clearfix"></div>	
						<!--//profile_details-->
					</div>
					<!--//menu-right-->
						<div class="clearfix"></div>
				</div>
						<!-- //header-ends -->
				<div class="outter-wp">
					<div class="candile"> 

							
					</div>					
				<!--footer section end-->
				</div>
				<footer class="left-content">
				  <div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li class="active"><a href="#tab-table1" data-toggle="tab">设备告警</a></li>
					    <li><a href="#tab-table2" data-toggle="tab">操做日志</a></li>
					  </ul>
					  <div class="tab-content">
					    <div class="tab-pane tab-log active" id="tab-table1">
					      <table id="tbl_devalarm" class="table table-striped table-bordered" cellspacing="0" width="100%">
					      	
					      </table>				          
					    </div>
					    <div class="tab-pane tab-log" id="tab-table2">
					      <table id="tbl_optlog" class="table table-striped table-bordered" cellspacing="0" width="100%">
					      	<thead>
					            <tr>
					                <th>日志编号</th>
					                <th>日志类型</th>
					                <th>日志内容</th>
					                <th>登记时间</th>
					            </tr>
					        </thead>					      	
					      </table>
					    </div>
					  </div>
					</div>
					
				</footer>
			</div>
					<!--//content-inner-->
				<!--/sidebar-menu-->
			<div class="sidebar-menu">
				<header class="logo">
					<a href="#" class="sidebar-icon"> <i class="icon-exchange"></i> </a> <a href="index.html"> <span id="logo"> <h1>PREVAIL</h1></span></a> 
				</header>
				<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
	 			<div class="sidebar-tree">
	 				<div id="dev-fancytree"></div>
	 			</div>
	 			<div class="panel panel-info sidebar-info">
				    <div class="panel-heading" style="padding: 5px 8px;">
				        <h3 class="panel-title">状态信息</h3>
				    </div>
				    <div class="panel-body">
				        <table>
				        	<tr>
				        		<td>服务器状态:</td>
				        		<td><i class="icon-ok-circle"></i></td>
				        	</tr>
				        	<tr>
				        		<td>数据库状态:</td>
				        		<td><i class="icon-ok-circle"></i></td>
				        	</tr>
				        </table>
				    </div>
				</div>
			</div>
			<div class="clearfix"></div>		
		</div>
		<script>
			var toggle = true;
						
			$(".sidebar-icon").click(function() {                
			  if (toggle)
			  {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#dev-fancytree").css({"display":"none"});
				$(".sidebar-info").css({"display":"none"});
				$("#menu span").css({"position":"absolute"});
				$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
			  }
			  else
			  {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				$("#dev-fancytree").css({"display":"block"});
				$(".sidebar-info").css({"display":"block"});
				$("#menu span").css({"position":"relative"});
				setTimeout(function() {
					$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
				}, 400);
				
			  }
			  				
				toggle = !toggle;
			});
			
			$(".candile").load("/home");
		</script>

	</div>
	<!-- hide div -->
	<div id="dialog-form" title="配置" style="display:none">
		<p class="validateTips">在文本框中输入.</p>
	 	<input type="text" id="set_value" value="" >
	  
	</div>
	<div id="dialog-newdev" title="添加新的二类设备" style="display:none">
		<table class="table">
			<tr>
				<td>
					<input id="needtype" type="checkbox" value="" />指定设备类型 
  				</td>
  				<td>IP地址:</td>
  				<td>
					<input type="text" class="form-control" id="newdev_ip" >
  				</td>
			</tr>
			<tr>
				<td>
					<select name="salutation" id="salutation" disabled>
				      <option selected value="other">其他设备</option>
				      <option value="EDFA">EDFA</option>
				      <option value="Trans">光发射机</option>
				      <option value="rece_workstation">光接收机/光工作站</option>
				      <option value="OSW">光切换开关</option>
				      <option value="RFSW">射频切换开关</option>
				      <option value="PreAMP">前置放大器</option>
				      <option value="wos">光平台</option>
				    </select>
				</td>
				<td>只读团体名:</td>
  				<td>
					<input type="text" class="form-control" id="newdev_rcommunity" value="public" >
  				</td>
			</tr>
			<tr>
				<td>						
				</td>
				<td>读写团体名:</td>
  				<td>
					<input type="text" class="form-control" id="newdev_wcommunity" value="public" >
  				</td>
			</tr>
		</table>
	  	<div>
   			<div >
		               设备名称:<input type="text" class="form-control" id="newdev_devname" value="新设备" >
		        	设备组名请勿包含以下字符:/ \ #
		    </div>
		</div>
	</div>
	<div id="dialog-alarmThreshold" title="告警门限设置" style="display:none">
		<table class="table">
			<tr>
				<td>
					<input id="ishihi" type="checkbox" value="" /> 
  				</td>
				<td>
					HIHI: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="hihi" >
  				</td>
			</tr>
			<tr>
				<td>
					<input id="ishi" type="checkbox" value="" /> 
  				</td>
				<td>
					HI: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="hi" >
  				</td>
			</tr>
			<tr>
				<td>
					<input id="islo" type="checkbox" value="" /> 
  				</td>
				<td>
					LO: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="lo" >
  				</td>
			</tr>
			<tr>
				<td>
					<input id="islolo" type="checkbox" value="" /> 
  				</td>
				<td>
					LOLO: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="lolo" >
  				</td>
			</tr>
			<tr>
				<td>
					<input id="isdead" type="checkbox" value="" /> 
  				</td>
				<td>
					DEAD: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="dead" >
  				</td>
			</tr>
		</table>
	</div>
	<div id="dialog-devsearch" title="搜索" style="display:none">
		<table class="table">
			<tr>
				<td>
					团体名: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="search-community" value="public" >
  				</td>
  				<td>
					起始IP: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="search-sip" value="192.168.1.2" >
  				</td>
			</tr>
			<tr>
				<td>
					请选择设备类型: 
  				</td>
  				<td>
					<select name="search-stype" id="search-stype">
				      <option selected>国标设备</option>
				      <option>Wos4000</option>
				    </select>
  				</td>
  				<td>
					结束IP: 
  				</td>
  				<td>
					<input type="text" class="form-control" id="search-eip" value="192.168.1.253" >
  				</td>
			</tr>			
		</table>
		<div class="progress progress-striped">
		    <div class="progress-bar progress-bar-info progress-search" role="progressbar"
		         aria-valuemin="0" aria-valuemax="100"
		         style="width: 0%;">
		        <span class="sr-only">0%</span>
		    </div>
		</div>
	</div>
   <script src="/javascripts/hfcdetails.js"></script>
   <script src="/javascripts/main.js"></script>
</body>
</html>