<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/stylesheets/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="devdetail">
		<ul class = "devdetail-header">
			<li class="dev-img"><img src = "../images/Trans-small.jpg" /></li>
			<li class="dev-status"><span>设备连接正常...</span></li>
		</ul>	
		<div class = "devdetail-content">
			<div class="tabbable">
				<ul class="nav nav-tabs" role="tablist">
				    <li class="active"><a href="#tab-dev1" data-toggle="tab">光发射机参数</a></li>
				    <li><a href="#tab-dev2" data-toggle="tab">HFC公共库参数</a></li>				    
				</ul>
				<div class="tab-content">
				    <div class="tab-pane active" id="tab-dev1">
				    	<table class="table">
						   <caption>直流电源</caption>
						   <thead>
							    <tr>
							      <th>电源名称</th>
							      <th>电源电压</th>
							    </tr>
						  </thead>
						  <tbody>
							    <tr>
							      <td>+5V DC Power</td>
							      <td class="plus-5">5.10V</td>
							    </tr>
							    <tr>
							      <td>-5V DC Power</td>
							      <td class="minus-5">5.10V</td>
							    </tr>
							    <tr>
							      <td>+24V DC Power</td>
							      <td class="plus-24">23.10V</td>
							    </tr>
						  </tbody>
						</table>
				    </div>
				    <div class="tab-pane" id="tab-dev2">
				    	<p>xxxxxxx</p>
				    </div>
				</div>
			</div>
		</div>
	</div>	
</body>
