<!DOCTYPE HTML>
<html>

<script src="/javascripts/cmpjs.js"></script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript">		
	
		$('#dev-status-text')[0].textContent = $.i18n.prop('message_devconnected');
		$('#i18n-devip')[0].textContent = $.i18n.prop('message_devip');
		$('#i18n-sysdesc')[0].textContent = $.i18n.prop('message_devsysdesc');
		$('#i18n-contact')[0].textContent = $.i18n.prop('message_devcontact');
		$('#i18n-uptime')[0].textContent = $.i18n.prop('message_devuptime');
		$('#i18n-devparam')[0].textContent = $.i18n.prop('message_devparam');
		$('#i18n-publicparam')[0].textContent = $.i18n.prop('message_devpublicparam');
		
		//$('#i18n-inputpower')[0].textContent = $.i18n.prop('message_devinpower');

      
		

	//	$('#i18n-temper')[0].textContent = $.i18n.prop('message_devtemper');		
		$('#i18n-traptbl')[0].textContent = $.i18n.prop('message_devtraptbl');		
		$('#i18n-trapindex')[0].textContent = $.i18n.prop('message_devtrapindex');
		$('#i18n-trapip')[0].textContent = $.i18n.prop('message_devtrapip');		
		$('#i18n-publictemper')[0].textContent = $.i18n.prop('message_devtemper');
		$('#i18n-publicID')[0].textContent = $.i18n.prop('message_devlogicid');		
		$('#i18n-publictype')[0].textContent = $.i18n.prop('message_devtype');		
		$('#i18n-publicsn')[0].textContent = $.i18n.prop('message_devsn');
		
	

	</script>
</head>
<body>
	<div class="devdetail">
		<button type="button" class="close device-close" aria-hidden="true">&times;</button>
		<ul class = "devdetail-header">
			<li class="dev-img"><img  id ="edfaimg"  /></li>
			<li class="dev-status"><span id="dev-status-text"></span></li>
			<li id="devcommparam">
				<table class="table tbl_noborder tbl_devtips">
	        		<tr>
	        			<td id="i18n-devip"></td>
	        			<td id="panel-devip"></td>
	        			<td id="i18n-sysdesc">系统描述:</td>
	        			<td id="panel-devinfo"></td>	        			
	        		</tr>
	        		<tr>
	        			<td id="i18n-contact">联系信息:</td>
	        			<td id="panel-devcontact"></td>
	        			<td id="i18n-uptime">在线时间:</td>
	        			<td id="panel-onlinetimeticks"></td>
	        		</tr>
						<tr>	
	        			<td id="did"></td>
	        		</tr>
	        	</table>
			</li>
		</ul>	
		<div class = "devdetail-content">
			<div class="tabbable">
				<ul class="nav nav-tabs" role="tablist">
				    <li class="active"><a href="#tab-dev1" data-toggle="tab" id="i18n-devparam">EDFA设备参数</a></li>
				    <li><a href="#tab-dev2" data-toggle="tab" id="i18n-publicparam">HFC公共库参数</a></li>				    
				</ul>
				<div class="tab-content">
				    <div class="tab-pane tab-devpane active" id="tab-dev1">
					    <div class="devdetail-content">			
					    	<table class="tbl_devdetail-content">
					    		<tr>
					    			<td>
					    				<table class="table tbl_detail">
										  <tbody>
											    <tr>
											      <td id="i18n-inputpower">A-input power</td>
											      <td><input type="text" class="form-control isalarmThreshold" id="osInputOpticalPowerA" readonly></td>
											    </tr>
											    <tr>
											      <td id="i18n-outputpower">B-input power:</td>
											      <td><input type="text" class="form-control isalarmThreshold" id="osInputOpticalPowerB" readonly></td>
											    </tr>
											    <tr>
											      <td id="i18n-att">Switch threshold</td>
											      <td><input type="text" class="form-control hfcunit" data-comvalues="[-20,30],+/-0.1" id="osSwitchReference" readonly></td>
											    </tr>
													    <tr>
											      <td id="i18n-att">Wavelength</td>
											      <td><input type="text" class="form-control" id="osWavelength" readonly></td>
											    </tr>
														    <tr>
											      <td id="i18n-att">Switch mode</td>
											      <td><input type="text" class="form-control hfcunitcombox" data-comvalues="manual,auto"    id="osAutoControl" readonly></td>
											    </tr>
														    <tr>
											      <td id="i18n-att">Current channel</td>
											      <td><input type="text" class="form-control hfcunitcombox" data-comvalues="A,B"  id="osCurrentWorkChannel" readonly></td>
											    </tr>
										  </tbody>
										</table>
					    			</td>
					    		</tr>			 
					    	</table>						
					    </div>				    	
				    </div>
				    <div class="tab-pane tab-devpane" id="tab-dev2">
				    	<div class="devdetail-public">
				    		<div>
				    			<table class="table table-bordered">
								   <caption id="i18n-traptbl">Trap目标主机表</caption>
								   <thead>
									    <tr>
									      <th id="i18n-trapindex">序号.</th>
									      <th id="i18n-trapip">目标IP地址</th>
									    </tr>
								  </thead>
								  <tbody>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row0"></label></td>
									      <td><label class="trapaddr" data-rownum="0" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row0"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row1"></label></td>
									      <td><label class="trapaddr" data-rownum="1" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row1"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row2"></label></td>
									      <td><label class="trapaddr" data-rownum="2" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row2"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row3"></label></td>
									      <td><label class="trapaddr" data-rownum="3" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row3"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row4"></label></td>
									      <td><label class="trapaddr" data-rownum="4" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row4"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row5"></label></td>
									      <td><label class="trapaddr" data-rownum="5" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row5"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row6"></label></td>
									      <td><label class="trapaddr" data-rownum="6" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row6"></label></td>
									    </tr>
									    <tr>
									      <td><label class="commonAgentTrapIndex_row7"></label></td>
									      <td><label class="trapaddr" data-rownum="7" data-paramname="commonAgentTrapIP" id="commonAgentTrapIP_row7"></label></td>
									    </tr>
								  </tbody>
								</table>
				    		</div>
					    	<div>
					    		<table class="table tbl_hfcpublic">
								  <tbody>
									    <tr>
									      <td id="i18n-publictemper">温度:</td>
									      <td><input type="text" class="form-control" id="commonInternalTemperature" readonly></td>									      
									    </tr>
									    <tr>
									      <td id="i18n-publicID">逻辑ID:</td>
									      <td><input type="text" class="form-control" id="commonNELogicalID" readonly></td>
									    </tr>
									    <tr>
									      <td id="i18n-publictype">型号:</td>
									      <td><input type="text" class="form-control" id="commonNEModelNumber" readonly></td>
									    </tr>
									    <tr>
									      <td id="i18n-publicsn">序列号:</td>
									      <td><input type="text" class="form-control" id="commonNESerialNumber" readonly></td>
									    </tr>
									    <tr>
									      <td>MAC</td>
									      <td><input type="text" class="form-control" id="commonDeviceMACAddress" readonly></td>
									    </tr>
								  </tbody>
								</table>
					    	</div>							
					    </div>				    	
				    </div>
				</div>
			</div>
		</div>
	</div>	
</body>
