<!DOCTYPE HTML>
<html>
<script src="/javascripts/cmpjs.js"></script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript">		
	$("#tab-dev2").on('dblclick' ,'.trapaddr',trapaddrEvent);//必须在load之前先指定事件，否则load加载的元素是不会响应cmpjs.js中的事件的

	    $("#devcommparam").load("/mj/osw.html .tbl_devtips",commonViewLoad);
		$("#tab-dev2").load("/mj/osw.html .devdetail-public",trapViewload);

	  
	  
	  
		$('#dev-status-text')[0].textContent = $.i18n.prop('message_devconnected');

		$('#i18n-devoptrvparam')[0].textContent = $.i18n.prop('message_devoptrvparam');
		$('#i18n-publicparam')[0].textContent = $.i18n.prop('message_devpublicparam');
		$('#i18n-inputpower')[0].textContent = $.i18n.prop('message_devinpower');
	
		$('#i18n-rtnoputpower')[0].textContent = $.i18n.prop('message_devrtnouputpower');
		$('#i18n-channelnumber')[0].textContent = $.i18n.prop('message_devchannelnumber');
		$('#i18n-rtnbiascurrent')[0].textContent = $.i18n.prop('message_devrtnbiascurrent');
		
		$('#i18n-powername')[0].textContent = $.i18n.prop('message_devpowername');
		$('#i18n-powerval')[0].textContent = $.i18n.prop('message_devpowerval');
		$('#i18n-outputtbl')[0].textContent = $.i18n.prop('message_devoutputtbl');
		$('#i18n-outputlevel')[0].textContent = $.i18n.prop('message_devoutputlevel');	

		$('#i18n-agcvalidpower')[0].textContent = $.i18n.prop('agcvalidpower');
		  
	</script>
</head>
<body>
	<div class="devdetail">
		<button type="button" class="close device-close" aria-hidden="true">&times;</button>
		<ul class = "devdetail-header">
			<!-- <li class="dev-img"><img src = "../images/oprv8604jl.png" /></li> -->
		 	 <li class="dev-img"><img id = "HfcMinWorkstationimg" /></li> 
			<li class="dev-status"><span id="dev-status-text"></span></li>
			<li id="devcommparam">
		 	
			</li>
		</ul>	
		<div class = "devdetail-content">
			<div class="tabbable">
				<ul class="nav nav-tabs" role="tablist">
				    <li class="active"><a href="#tab-dev1" data-toggle="tab" id="i18n-devoptrvparam"></a></li>
				    <li><a href="#tab-dev2" data-toggle="tab" id="i18n-publicparam"></a></li>				    
				</ul>
				<div class="tab-content">
				    <div class="tab-pane tab-devpane active" id="tab-dev1">
					    <div class="devdetail-content">			
					    	<table class="tbl_devdetail-content">
					    		<tr>
					    			<td>
					    				<table class="table tbl_detail">
										  <tbody>
											    <tr>
											      <td id="i18n-inputpower">输入光功率:</td>
											      <td><input type="text" class="form-control isalarmThreshold" id="fnOpticalReceiverPower" readonly></td>
											      <td id="i18n-rtnoputpower">反向发射光功率:</td>
											      <td><input type="text" class="form-control isalarmThreshold" id="fnReverseOpticalPower" readonly></td>
											    </tr>
											    <tr>
											      <td id="i18n-rtnbiascurrent">反向偏置电流:</td>
											      <td><input type="text" class="form-control isalarmThreshold" id="fnReturnLaserCurrent" readonly></td>
										  	      <td id="i18n-agcvalidpower">AGC起控光功率:</td>
											      <td><input type="text" class="form-control hfcunit" data-comvalues="[-9,-7];[-9,-4]"  id="fnAGCGOvalue" readonly></td>
											    </tr>
											    <tr>
											      <td id="i18n-channelnumber">频道数:</td>
											      <td><input type="text" class="form-control hfcunit" data-comvalues="[0,200]" id="fnRFChannelNum" readonly></td>
											    </tr>
										  </tbody>
										</table>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td>
					    				<table class="table tbl_power" style="width:30%">
										   <thead>
											    <tr>
											      <th id="i18n-powername">电源输出表</th>
											      <th id="i18n-powerval">输出电压</th>
											    </tr>
										  </thead>
										  <tbody>
												<tr>
													<td class="fnDCPowerName_row0"></td>
													<td class="fnDCPowerVoltage_row0 tbl_isalarmThreshold" data-rownum="0" data-paramname="fnDCPowerVoltage" id="fnDCPowerVoltage_row0"></td>
												</tr>
												<tr>
													<td class="fnDCPowerName_row1"></td>
													<td class="fnDCPowerVoltage_row1 tbl_isalarmThreshold" data-rownum="1" data-paramname="fnDCPowerVoltage" id="fnDCPowerVoltage_row1"></td>
												</tr>
										  </tbody>
										</table>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td>
					    				<table class="table tbl_devmiddle tbl_devcontent" style="width:30%">
										   <thead>
											    <tr>
											      <th id="i18n-outputtbl">输出端口</th>
											      <th>ATT</th>
											      <th>EQ</th>
											      <th id="i18n-outputlevel">输出电平</th>
											    </tr>
										  </thead>
										  <tbody>
												<tr>
													<td class="fnRFPortName_row0"></td>
													<td class="fnOutputRFlevelatt_row0 tbl_hfcunit" data-comvalues="[0,20]" data-rownum="0" data-paramname="fnOutputRFlevelatt" id="fnOutputRFlevelatt_row0"></td>
													<td class="fnOutputRFleveleq_row0 tbl_hfcunit"  data-comvalues="[0,10];[0,15]"  data-rownum="0" data-paramname="fnOutputRFleveleq" id="fnOutputRFleveleq_row0"></td>
													<td class="fnRFPortOutputRFLevel_row0 tbl_isalarmThreshold" data-rownum="0" data-paramname="fnRFPortOutputRFLevel" id="fnRFPortOutputRFLevel_row0"></td>
												</tr>
												<tr>
													<td class="fnRFPortName_row1"></td>
													<td class="fnOutputRFlevelatt_row1 tbl_hfcunit" data-comvalues="" data-rownum="1" data-paramname="fnOutputRFlevelatt" id="fnOutputRFlevelatt_row1"></td>
													<td class="fnOutputRFleveleq_row1 tbl_hfcunit" data-comvalues="" data-rownum="1" data-paramname="fnOutputRFleveleq" id="fnOutputRFleveleq_row1"></td>
													<td class="fnRFPortOutputRFLevel_row1 tbl_isalarmThreshold" data-rownum="1" data-paramname="fnRFPortOutputRFLevel" id="fnRFPortOutputRFLevel_row1"></td>
												</tr>
										  </tbody>
										</table>
					    			</td>
					    		</tr>
					    	</table>						
					    </div>				    	
				    </div>
				    <div class="tab-pane tab-devpane" id="tab-dev2">
										
					    </div>				    	
				    </div>
				</div>
			</div>
		</div>
	</div>	
</body>
